body {
    font-family: Arial, sans-serif;
    text-align:center;
  }
  
h1 {
    position: relative;
    font-size: 4rem;
    background-image: linear-gradient(to right, #dd98c7 , #80deeb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
h1:hover{
    color:aliceblue;
}
h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(274, 47%, 39%);
    z-index: -1;
    transition: transform .3s ease;
}

  .calendar {
    width: 600px;
    margin: 0 auto;
  }
  
  .event-form {
    /* margin-bottom: 10px; */
    margin: 0 auto;
  }
  
  .event-form input[type="text"],
  .event-form input[type="date"],
  .event-form input[type="time"],
  .event-form input[type="submit"] {
    margin-top: 5px;
  }
  
  .event-list {
    list-style: none;
    padding: 0;
  }
  
  .event-list li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f2f2f2;
  }
  
  .event-list li:hover {
    background-color: #e6e6e6;
    cursor: pointer;
  }

  .event-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .event-table th,
  .event-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #51b2ef;
  }
  
  .event-table th {
    background-color: #90c3ed;
  }

  .event-table tr:nth-child(odd){
    background-color: #bfd9eead;
  }